.tab{
    display: flex;
    justify-content: center;
}
th{
    width: 100px;
}

.tab ,td,tr,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

tr:hover{
    background-color: rgba(71, 71, 71, 0.338);
}